<!doctype html>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div id="header">
	<div>
		<img src="{{ url_for('static', filename='simulacra_logo.png') }}">
	</div>
	<div id="title">
		Zion
	</div>
</div>
<div style="clear: both;"> </div>

<code>
	Please, just listen. </br>
	I know why you're here, Neo.</br>
	I know what you've been doing.</br>
	I know why you hardly sleep; </br>
	why you live alone;</br>
	and why night after night </br>
	you sit at your computer.</br>
	</br>
	</br>
	You're looking for him.</br>
	I know, because I was once looking for the same thing.</br>
	And when he found me, </br>
	he told me I wasn't really looking for him.</br>
	I was looking for an answer.</br>
	It's the question that drives us mad.</br>
	It's the question that brought you here.</br>
	You know the question just as I did.</br>
</code>
